<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入外部配置文件 -->
    <properties resource="db.properties"/>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <!--一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"/>
        <!--二级缓存-->
        <setting name="cacheEnabled" value="false"/>
        <!--全局性设置懒加载。如果设为false，则所有相关联的都会被初始化加载。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置一个时限，以决定让驱动器等待数据库回应的多长时间为超时秒-->
        <setting name="defaultStatementTimeout" value="60"/>
        <setting name="defaultFetchSize" value="100"/>
    </settings>


    <!-- 配置mybatis运行环境 -->
    <typeAliases>
        <typeAlias type="main.com.handu.scada.db.data.source.DBCPDataSourceFactory" alias="DBCP"/>
    </typeAliases>

    <environments default="dbcp">

        <environment id="mysql">
            <!-- type="JDBC" 代表使用JDBC的提交和回滚来管理事务 -->
            <transactionManager type="JDBC"/>
            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>

                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1 from dual"/>
                <property name="poolPingConnectionsNotUsedFor" value="300000"/>

                <property name="poolMaximumActiveConnections" value="300"/>
                <property name="poolMaximumIdleConnections" value="10"/>
            </dataSource>
        </environment>

        <!--自定义数据源DBCP-->
        <environment id="dbcp">
            <transactionManager type="JDBC"/>
            <dataSource type="DBCP">
                <!--地址账号密码驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>

                <!--是否自动提交-->
                <property name="autoCommit" value="false"/>
                <!--initialSize: 初始化连接-->
                <property name="initialSize" value="20"/>
                <!--maxActive: 最大连接数量-->
                <property name="maxActive" value="200"/>
                <!--minIdle: 最小空闲连接-->
                <property name="minIdle" value="10"/>
                <!--maxIdle: 最大空闲连接-->
                <property name="maxIdle" value="20"/>
                <!--maxWait: 超时等待时间以毫秒为单位-->
                <property name="maxWait" value="900000"/>
                <!--removeAbandoned:
                 标记是否删除泄露的连接,如果他们超过了removeAbandonedTimout的限制.如果设置为true,
                 连接被认为是被泄露并且可以被删除,如果空闲时间超过removeAbandonedTimeout.
                 设置为true可以为写法糟糕的没有关闭连接的程序修复数据库连接-->
                <property name="removeAbandoned" value="true"/>
                <!--removeAbandonedTimeout:泄露的连接可以被删除的超时值, 单位秒-->
                <property name="removeAbandonedTimeout" value="900"/>

                <!-- 在空闲连接回收器线程运行期间休眠的时间值,以毫秒为单位. -->
                <property name="timeBetweenEvictionRunsMillis" value="30000"/>
                <!--池中的连接空闲x毫秒后被回收，默认30分钟-->
                <property name="minEvictableIdleTimeMillis" value="1800000"/>
                <!--在每次空闲连接回收器线程(如果有)运行时检查的连接数量，默认值是3 -->
                <property name="numTestsPerEvictionRun" value="10"/>

                <!--连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除-->
                <property name="testWhileIdle" value="true"/>
                <!--借出连接时不要测试，否则很影响性能，性能会下降7-10倍-->
                <property name="testOnBorrow" value="false"/>
                <!--归还连接前是否测试-->
                <property name="testOnReturn" value="false"/>
                <!--ping语句-->
                <property name="validationQuery" value=" SELECT 1 "/>

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--注解dao; 注册Mapper.xml文件-->
        <!--<mapper resource="mapper/common/CommonMapper.xml"/>-->
        <package name="main.com.handu.scada.db.mapper"/>
    </mappers>

</configuration>