<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.handu.scada.db.mapper.DeviceLowvoltageMapper">
  <resultMap id="BaseResultMap" type="main.com.handu.scada.db.bean.DeviceLowvoltage">
    <id column="lowUId" jdbcType="VARCHAR" property="lowuid" />
    <result column="phase" jdbcType="VARCHAR" property="phase" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="deviceId" jdbcType="VARCHAR" property="deviceid" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="minU" jdbcType="INTEGER" property="minu" />
    <result column="WorkOrderId" jdbcType="VARCHAR" property="workorderid" />
    <result column="IsSendWorkOrder" jdbcType="INTEGER" property="issendworkorder" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lowUId, phase, beginTime, endTime, deviceId, duration, minU, WorkOrderId, IsSendWorkOrder
  </sql>
  <select id="selectByExample" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_lowvoltage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_lowvoltage
    where lowUId = #{lowuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from device_lowvoltage
    where lowUId = #{lowuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltageExample">
    delete from device_lowvoltage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltage">
    insert into device_lowvoltage (lowUId, phase, beginTime, 
      endTime, deviceId, duration,
      minU, WorkOrderId, IsSendWorkOrder
      )
    values (#{lowuid,jdbcType=VARCHAR}, #{phase,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{deviceid,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, 
      #{minu,jdbcType=INTEGER}, #{workorderid,jdbcType=VARCHAR}, #{issendworkorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltage">
    insert into device_lowvoltage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lowuid != null">
        lowUId,
      </if>
      <if test="phase != null">
        phase,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="minu != null">
        minU,
      </if>
      <if test="workorderid != null">
        WorkOrderId,
      </if>
      <if test="issendworkorder != null">
        IsSendWorkOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lowuid != null">
        #{lowuid,jdbcType=VARCHAR},
      </if>
      <if test="phase != null">
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceid != null">
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="minu != null">
        #{minu,jdbcType=INTEGER},
      </if>
      <if test="workorderid != null">
        #{workorderid,jdbcType=VARCHAR},
      </if>
      <if test="issendworkorder != null">
        #{issendworkorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltageExample" resultType="java.lang.Long">
    select count(*) from device_lowvoltage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_lowvoltage
    <set>
      <if test="tripEventRecord.lowuid != null">
        lowUId = #{tripEventRecord.lowuid,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.phase != null">
        phase = #{tripEventRecord.phase,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.begintime != null">
        beginTime = #{tripEventRecord.begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="tripEventRecord.endtime != null">
        endTime = #{tripEventRecord.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tripEventRecord.deviceid != null">
        deviceId = #{tripEventRecord.deviceid,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.duration != null">
        duration = #{tripEventRecord.duration,jdbcType=INTEGER},
      </if>
      <if test="tripEventRecord.minu != null">
        minU = #{tripEventRecord.minu,jdbcType=INTEGER},
      </if>
      <if test="tripEventRecord.workorderid != null">
        WorkOrderId = #{tripEventRecord.workorderid,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.issendworkorder != null">
        IsSendWorkOrder = #{tripEventRecord.issendworkorder,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_lowvoltage
    set lowUId = #{tripEventRecord.lowuid,jdbcType=VARCHAR},
      phase = #{tripEventRecord.phase,jdbcType=VARCHAR},
      beginTime = #{tripEventRecord.begintime,jdbcType=TIMESTAMP},
      endTime = #{tripEventRecord.endtime,jdbcType=TIMESTAMP},
      deviceId = #{tripEventRecord.deviceid,jdbcType=VARCHAR},
      duration = #{tripEventRecord.duration,jdbcType=INTEGER},
      minU = #{tripEventRecord.minu,jdbcType=INTEGER},
      WorkOrderId = #{tripEventRecord.workorderid,jdbcType=VARCHAR},
      IsSendWorkOrder = #{tripEventRecord.issendworkorder,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltage">
    update device_lowvoltage
    <set>
      <if test="phase != null">
        phase = #{phase,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceid != null">
        deviceId = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="minu != null">
        minU = #{minu,jdbcType=INTEGER},
      </if>
      <if test="workorderid != null">
        WorkOrderId = #{workorderid,jdbcType=VARCHAR},
      </if>
      <if test="issendworkorder != null">
        IsSendWorkOrder = #{issendworkorder,jdbcType=INTEGER},
      </if>
    </set>
    where lowUId = #{lowuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.com.handu.scada.db.bean.DeviceLowvoltage">
    update device_lowvoltage
    set phase = #{phase,jdbcType=VARCHAR},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      deviceId = #{deviceid,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      minU = #{minu,jdbcType=INTEGER},
      WorkOrderId = #{workorderid,jdbcType=VARCHAR},
      IsSendWorkOrder = #{issendworkorder,jdbcType=INTEGER}
    where lowUId = #{lowuid,jdbcType=VARCHAR}
  </update>
</mapper>