<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.handu.scada.db.mapper.QrtzCronTriggersMapper">
  <resultMap id="BaseResultMap" type="main.com.handu.scada.db.bean.QrtzCronTriggers">
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="SCHED_NAME" />
    <id column="TRIGGER_NAME" jdbcType="VARCHAR" property="TRIGGER_NAME" />
    <id column="TRIGGER_GROUP" jdbcType="VARCHAR" property="TRIGGER_GROUP" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="CRON_EXPRESSION" />
    <result column="TIME_ZONE_ID" jdbcType="VARCHAR" property="TIME_ZONE_ID" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCHED_NAME, TRIGGER_NAME, TRIGGER_GROUP, CRON_EXPRESSION, TIME_ZONE_ID
  </sql>
  <select id="selectByExample" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qrtz_cron_triggers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qrtz_cron_triggers
    where SCHED_NAME = #{SCHED_NAME,jdbcType=VARCHAR}
      and TRIGGER_NAME = #{TRIGGER_NAME,jdbcType=VARCHAR}
      and TRIGGER_GROUP = #{TRIGGER_GROUP,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from qrtz_cron_triggers
    where SCHED_NAME = #{SCHED_NAME,jdbcType=VARCHAR}
      and TRIGGER_NAME = #{TRIGGER_NAME,jdbcType=VARCHAR}
      and TRIGGER_GROUP = #{TRIGGER_GROUP,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggersExample">
    delete from qrtz_cron_triggers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggers">
    insert into qrtz_cron_triggers (SCHED_NAME, TRIGGER_NAME, TRIGGER_GROUP, 
      CRON_EXPRESSION, TIME_ZONE_ID)
    values (#{SCHED_NAME,jdbcType=VARCHAR}, #{TRIGGER_NAME,jdbcType=VARCHAR}, #{TRIGGER_GROUP,jdbcType=VARCHAR}, 
      #{CRON_EXPRESSION,jdbcType=VARCHAR}, #{TIME_ZONE_ID,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggers">
    insert into qrtz_cron_triggers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="SCHED_NAME != null">
        SCHED_NAME,
      </if>
      <if test="TRIGGER_NAME != null">
        TRIGGER_NAME,
      </if>
      <if test="TRIGGER_GROUP != null">
        TRIGGER_GROUP,
      </if>
      <if test="CRON_EXPRESSION != null">
        CRON_EXPRESSION,
      </if>
      <if test="TIME_ZONE_ID != null">
        TIME_ZONE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="SCHED_NAME != null">
        #{SCHED_NAME,jdbcType=VARCHAR},
      </if>
      <if test="TRIGGER_NAME != null">
        #{TRIGGER_NAME,jdbcType=VARCHAR},
      </if>
      <if test="TRIGGER_GROUP != null">
        #{TRIGGER_GROUP,jdbcType=VARCHAR},
      </if>
      <if test="CRON_EXPRESSION != null">
        #{CRON_EXPRESSION,jdbcType=VARCHAR},
      </if>
      <if test="TIME_ZONE_ID != null">
        #{TIME_ZONE_ID,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggersExample" resultType="java.lang.Long">
    select count(*) from qrtz_cron_triggers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qrtz_cron_triggers
    <set>
      <if test="tripEventRecord.SCHED_NAME != null">
        SCHED_NAME = #{tripEventRecord.SCHED_NAME,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.TRIGGER_NAME != null">
        TRIGGER_NAME = #{tripEventRecord.TRIGGER_NAME,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.TRIGGER_GROUP != null">
        TRIGGER_GROUP = #{tripEventRecord.TRIGGER_GROUP,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.CRON_EXPRESSION != null">
        CRON_EXPRESSION = #{tripEventRecord.CRON_EXPRESSION,jdbcType=VARCHAR},
      </if>
      <if test="tripEventRecord.TIME_ZONE_ID != null">
        TIME_ZONE_ID = #{tripEventRecord.TIME_ZONE_ID,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qrtz_cron_triggers
    set SCHED_NAME = #{tripEventRecord.SCHED_NAME,jdbcType=VARCHAR},
      TRIGGER_NAME = #{tripEventRecord.TRIGGER_NAME,jdbcType=VARCHAR},
      TRIGGER_GROUP = #{tripEventRecord.TRIGGER_GROUP,jdbcType=VARCHAR},
      CRON_EXPRESSION = #{tripEventRecord.CRON_EXPRESSION,jdbcType=VARCHAR},
      TIME_ZONE_ID = #{tripEventRecord.TIME_ZONE_ID,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggers">
    update qrtz_cron_triggers
    <set>
      <if test="CRON_EXPRESSION != null">
        CRON_EXPRESSION = #{CRON_EXPRESSION,jdbcType=VARCHAR},
      </if>
      <if test="TIME_ZONE_ID != null">
        TIME_ZONE_ID = #{TIME_ZONE_ID,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHED_NAME = #{SCHED_NAME,jdbcType=VARCHAR}
      and TRIGGER_NAME = #{TRIGGER_NAME,jdbcType=VARCHAR}
      and TRIGGER_GROUP = #{TRIGGER_GROUP,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.com.handu.scada.db.bean.QrtzCronTriggers">
    update qrtz_cron_triggers
    set CRON_EXPRESSION = #{CRON_EXPRESSION,jdbcType=VARCHAR},
      TIME_ZONE_ID = #{TIME_ZONE_ID,jdbcType=VARCHAR}
    where SCHED_NAME = #{SCHED_NAME,jdbcType=VARCHAR}
      and TRIGGER_NAME = #{TRIGGER_NAME,jdbcType=VARCHAR}
      and TRIGGER_GROUP = #{TRIGGER_GROUP,jdbcType=VARCHAR}
  </update>
</mapper>