<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.handu.scada.db.mapper.common.CommonMapper">

    <!--mybatis ehcache缓存配置 -->
    <!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->

    <insert id="insertBySql">
        ${value}
    </insert>

    <delete id="deleteBySql">
    ${value}
    </delete>

    <update id="updateBySql">
    ${value}
    </update>

    <select id="selectOneBySql" resultType="Map" useCache="true">
    ${value}
    </select>

    <select id="selectListBySql" resultType="Map" useCache="true">
    ${value}
    </select>

    <resultMap id="DtuCacheResultMap" type="main.com.handu.scada.db.bean.common.DtuCacheResult">
    </resultMap>

    <select id="selectDtuCacheResult" parameterType="java.lang.String"
            resultMap="DtuCacheResultMap">
        SELECT
        c.oid AS dtuId,
        c.Address AS dtuAddress,
        c.`Name` AS dtuName,
        c. PORT AS dtuPort,
        d.TerminalId AS terminalId,
        IFNULL(d.protocolType, NULL) AS dtuType
        FROM
        device_dtu c
        LEFT JOIN device_terminal d ON d.TerminalId = c.TerminalId
        WHERE
        1 = 1
        <if test="ports != null">
            AND c.PORT IN
            <foreach collection="ports" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="dtuIds != null">
            AND c.Oid IN
            <foreach collection="dtuIds" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>

    </select>

    <resultMap id="DeviceCacheResultMap" type="main.com.handu.scada.db.bean.common.DeviceCacheResult">
    </resultMap>

    <select id="selectDeviceCacheResult" parameterType="java.lang.String"
            resultMap="DeviceCacheResultMap">
        SELECT
        c.oid AS dtuId,
        c.Address AS dtuAddress,
        a.oid AS deviceId,
        a. NAME AS deviceName,
        a.Address AS deviceAddress,
        IFNULL(d.protocolType, NULL) AS deviceType,
        d.TerminalId AS terminalId,
        'device_rcd' AS deviceTableName,
        a.daId,
        IFNULL(a. LEVEL, 1) AS deviceLevel
        FROM
        device_rcd a
        LEFT JOIN device_dtu c ON c.oid = a.DtuId
        LEFT JOIN device_terminal d ON d.TerminalId = a.TerminalId
        WHERE
        1 = 1
        <if test="ports != null">
            AND c.PORT IN
            <foreach collection="ports" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="deviceIds != null">
            AND a.Oid IN
            <foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>

        UNION

        SELECT
        c.oid AS dtuId,
        c.Address AS dtuAddress,
        a.oid AS deviceId,
        a. NAME AS deviceName,
        a.Address AS deviceAddress,
        IFNULL(d.protocolType, NULL) AS deviceType,
        d.TerminalId AS terminalId,
        'device_temperature' AS deviceTableName,
        a.daId,
        1
        FROM
        device_temperature a
        LEFT JOIN device_dtu c ON c.oid = a.DtuId
        LEFT JOIN device_terminal d ON d.TerminalId = a.TerminalId
        WHERE
        1 = 1
        <if test="ports != null">
            AND c.PORT IN
            <foreach collection="ports" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="deviceIds != null">
            AND a.Oid IN
            <foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>

        UNION

        SELECT
        c.oid AS dtuId,
        c.Address AS dtuAddress,
        a.oid AS deviceId,
        a. NAME AS deviceName,
        a.Address AS deviceAddress,
        IFNULL(d.protocolType, NULL) AS deviceType,
        d.TerminalId AS terminalId,
        'device_fallingtypeswitch' AS deviceTableName,
        a.daId,
        1
        FROM
        device_fallingtypeswitch a
        LEFT JOIN device_dtu c ON c.oid = a.DtuId
        LEFT JOIN device_terminal d ON d.TerminalId = a.TerminalId
        WHERE
        1 = 1
        <if test="ports != null">
            AND c.PORT IN
            <foreach collection="ports" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="deviceIds != null">
            AND a.Oid IN
            <foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
    </select>

    <delete id="deleteInfoChanges" parameterType="java.lang.String">
        <if test="ids != null">
            DELETE FROM device_infochanges WHERE Oid IN
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
    </delete>


    <resultMap id="deviceAdditionPropertyMap" type="main.com.handu.scada.db.bean.common.AdditionProperty"/>
    <select id="selectDeviceAdditionProperty" parameterType="java.lang.String"
            resultMap="deviceAdditionPropertyMap">
        <if test="sql != null">
            ${sql}
        </if>
    </select>

    <resultMap id="msgAdditionPropertyMap" type="main.com.handu.scada.business.message.MsgAdditionProperty"/>
    <select id="selectMsgAdditionProperty" parameterType="java.lang.String"
            resultMap="msgAdditionPropertyMap">
        <if test="deviceIds != null">
            SELECT
            a.DeviceId as deviceId,
            a.DeviceAlarms as alarms,
            b.RealName as name,
            b.Mobile  as phone
            FROM
            device_communicationgroup a
            LEFT JOIN base_user b
            ON a.UserId = b.UserId
            where a.DeviceId in
            <foreach collection="deviceIds" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
    </select>

</mapper>